body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

h1{
    color: #00796b;
    text-align: center;
    padding: 1rem;
}

.header {
    margin-top: 20px;
    color: #00796b;
    font-size: 2em;
    text-align: center;
}

.link {
    margin: 20px 0;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s;
    cursor: pointer;
    background-color: #6fab29;
    padding: 10px;
    border-radius: 10px;
}

.link:hover {
    color: #0056b3;
}

.ui {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 950px;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 1rem 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.ui__title {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #00796b;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form__button {
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.form__button:hover {
    background-color: #0056b3;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list--names {
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    gap: 0px;
    align-items: center;
}

.list--names--item {
    background-color: #f1f8e9;
    padding: 15px;
    border: 1px solid #c8e6c9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
}

@media (min-width: 1024px) {
    .list--names{
        gap: 5px;
       
    }
    .list--names--item {
        flex-basis: calc(33.333% - 20px);
    }
}



.list--names--item:hover {
    background-color: #dcedc8;
}

.list--names--item--delete,
.list--names--item--edit {
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.list--names--item--delete {
    color: #e53935;
}

.list--names--item--delete:hover {
    color: #b71c1c;
}

.list--names--item--edit {
    color: #007BFF;
}

.list--names--item--edit:hover {
    color: #0056b3;
}

.game-selection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;
    border: solid 1px #ccc;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}


.games-wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}   